%h1 New User Set Up

%p Enter your data. It's easy.

%form{ :action => "setup", :method => "post", :enctype => 'multipart/form-data'}
  %fieldset
    %label{:for => "username"} Username:
    %input{:type => "text", :name => "username" }
    %label{:for => "email"} Email Address:
    %input{:type => "text", :name => "email"}
    %label{:for => "itunes_lib"} iTunes Library File:
    %input{:type => "file",:name => "itunes_lib"}
    %input{:type => "submit", :value => "Get Started"}
